/* ===== ABOUT SECTION ===== */
.about-section {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 40px;
  background: #ffffff;
  flex-wrap: wrap;
}

/* LEFT IMAGE */
.left-image {
  flex: 1 1 600px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.decorative-bg {
  position: absolute;
  width: 79%;
  height: 100%;
  background: #e1edeb;
  border-radius: 20px;
  transform: rotate(2.5deg);
  z-index: 0;
}

.profile-image {
  border-radius: 20px;
  object-fit: cover;
  max-width: 100%;
  position: relative;
  z-index: 1;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

/* RIGHT CONTENT */
.about-right {
  flex: 1 1 600px;
  max-height: 500px;
  margin-right: 2.2rem;
}

.about-heading {
  font-size: 1.1rem;
  font-weight: 700;
  color: #22495a;
}

.about-subheading {
  font-size: 1rem;
  font-weight: 500;
  color: #70a9a1;
  
}

.about-right p {
  font-size: 0.8rem;
  line-height: 1.7;
  color: #22495a;
  
}

/* FEATURES GRID */
.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  margin: 30px 0;
}

.feature {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.feature-icon {
  flex-shrink: 0;
}

.feature-title {
  font-size: 0.9rem;
  font-weight: 700;
  color: #22495a;
  margin: 0;
}

.feature-desc {
  font-size: 0.7rem;
  color: #22495a;
  opacity: 0.85;
  margin-top: 4px;
}

/* DOWNLOAD BUTTON */
.about-button {
  margin-top: 30px;
}

.about-button .button {
  padding: 15px 30px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  background: #70a9a1;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "poppins" , sans-serif;
}

.about-button .button:hover {
  background: #5b8f88;
  transform: translateY(-3px) scale(1.05);
}
