.project-collab {
  background-color: #203b46; /* soft teal */
  color: white;
  padding: 25px 20px;
  max-width: 100%;
  margin: 20px auto;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  transition: transform 0.3s ease;
}
.cta-title{
    font-size: 40px;
}
.project-collab p {
  margin-top: 0;       
  margin-bottom: 15px;
  line-height: 1.6;
}


.cta-button {
  margin-top: 15px;
  background-color: #fff;
  color: #70a9a1;
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "poppins" , sans-serif;
}

.cta-button:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
}

.arrow-icon {
  margin-left: 8px;
  font-size: 14px;
  align-items: center;
}

/* ===== Responsive ===== */
@media (max-width: 768px) {
  .project-collab {
    padding: 40px 20px;
  }

  .cta-title {
    font-size: 32px;
  }

  .project-collab p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .cta-title {
    font-size: 26px;
  }

  .project-collab p {
    font-size: 0.95rem;
  }

  .cta-button {
    width: 100%;
  }
}
