.contacts {
  padding: 70px 0;
}

.contact-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  gap: 50px;
}

.left-part {
  flex: 1;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.contact-item h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.contact-item p {
  margin: 0;
  opacity: 0.8;
}

/* Right Side Form */
.right-part {
  flex: 1.2;
}

.contacts-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contacts-form .row {
  display: flex;
  gap: 15px;
}

.contacts-form input,
.contacts-form textarea {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
}

.contacts-form textarea {
  min-height: 120px;
}

.send-btn {
  padding: 14px;
  border-radius: 12px;
  background: #70A9A1;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.send-btn:hover {
  background: #5d948c;
}

/* Footer */
.copyright {
  margin-top: 40px;
  font-size: 14px;
  opacity: 0.7;
}
