.skills-section {
  padding: 60px 10%;
  background: #f9fafb;
}

.skills-title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
  color: #09111E;
}

.category-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 40px;
  font-family: "poppins", sans-serif;
}

.category-buttons button {
  padding: 10px 20px;
  border-radius: 25px;
  border: 2px solid #70a9a1;
  background: none;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s ease;
  color: #09111E;
   font-family: "poppins", sans-serif;
}

.category-buttons .active,
.category-buttons button:hover {
  background: #70a9a1;
  color: #fff;
}

/* GRID STYLE */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.skill-card {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
  max-width: 180px;
}

.skill-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
}

.skill-icon {
  font-size: 55px;
  color: #70a9a1;
  margin-bottom: 10px;
}

/* Skill name */
.skill-card h3 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #09111E;
}

/* Responsive */
@media (max-width: 900px) {
  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .skills-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
