/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'poppins',sans-serif;
    background-color: #fff;
    padding: 0;
    margin: 0;
    cursor: none;
}
html {
  scroll-behavior: smooth;
  cursor: none;
}


